/*
Default Skin Styles
This stylesheet contains styles that define Default-specific fonts, sizes, and colors, and the layout of the
wrapper (header + footer). Interface-specific styles are included in skins/base/base.css and can be overridden
here if necessary.
*/

/* Global */
body {font-size:12px; margin:0; overflow-y:scroll; background:linear-gradient(#e4e5ea, #fff 70%); background-repeat:no-repeat; color:#000}
body, input, textarea, select {font-family:arial,helvetica,sans-serif; }
input, textarea, select {font-size:100%}
strong {font-weight:600}

#body {background:linear-gradient(#ecedee, #fff); background-repeat:no-repeat; background-size:100% 90px}
#wrapper {border-top:0; border-bottom:0; border-left:1px solid; border-right:1px solid; border-image:linear-gradient(to bottom, #c1c1c1, #fff); border-image-slice:1; background:#fff}

/* Links */
a {text-decoration:none}
a:hover {text-decoration:none; color:#000}


/* Inline styles */
small {font-size:85%}


/* Block styles */
h1 {font-size:150%; font-weight:300}
h2 {font-size:160%; font-weight:300}
h3 {font-size:115%; font-weight:600}
h4 {font-weight:600}
p, ul, pre {line-height:1.6em}
.bodyHeader h1 {line-height:1.5em}


/* Sheets */
.sheet h3 {font-weight:300}
.sheet, .area {background:#fff}


/* Conversation list: adjust the typography. */
.conversationList .title {font-weight:300}
.conversationList .unread .title a {font-weight:600}
.conversationList .action * {font-weight:300}

/* Channel list */
.channelList .channel {font-weight:600}


/* Posts */
.thing {
    border: 1px solid #bbb;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color:#bbb!important;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    position: relative;
}
.thing:before {border-color:#888}
.postHeader h3 {font-size:110%; font-weight:600}
.postHeader {border-bottom: 1px solid #ccc; margin-bottom:4px}
.postBody h4 {font-size: 120%; font-weight: bold; border-bottom: 1px solid #bbb}
.replyPlaceholder .postHeader h3 {font-weight:300}
.postBody {}
.postBody a {font-weight:600}
pre, code, .fixed {font-size:120%}
/* Tabs */
.tabs.big li.selected a {color:#fff; border:0; padding:11px 14px}


/* Miscellaneous */
.permissionsGrid .group th {font-weight:300}
.action .name, .action a, .action strong {font-weight:600}
.avatar {border-radius:0}
.scrubber li.selected > a {font-weight:600}


/* Layout */
#hdr-content, #body-content, #ftr-content {margin:0 auto; min-width:760px; max-width:980px; padding:0 20px;}
#body-content {border-left: 1px solid; border-right: 1px solid; border-image: linear-gradient(to bottom, #c1c1c1, #fff); border-image-slice: 1;}
#body-content, #ftr-content {background-color:#fff}
#body-content {padding-bottom:20px; padding-top:10px}
#body {padding-top:55px}


/* Menus (inline lists) */
.menu {font-size:95%; list-style-type:none; margin-top:0; margin-bottom:0; padding:0; line-height:1}
.menu > li {display:inline-block}


/* Header */
#hdr {background:linear-gradient(#fff, #e4e5ea); position:fixed; width:100%; z-index:100; border-bottom:1px solid; box-shadow: 0 0 5px 0 #ababab}
#hdr-inner {padding-right:580px; white-space:nowrap}
#hdr h1 {display:inline-block; max-width:100%; font-size:20px; padding:14px 0; margin:0; font-weight:300; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
#hdr h1 img {display:inline; vertical-align:-5px; margin-right:5px; border:0}
#hdr h1 span {margin-left:10px}
#backButton {float:left; margin-right:10px; margin-left:-30px; font-size:20px; line-height:20px; margin-top:17px; text-decoration:none}

#mainMenu {margin-left:30px; display:inline; padding:18px 0}
#userMenu {float:right; padding:18px 0; margin-right:-580px; margin-left:-18px;}
#userMenu .item-user {font-weight:600}
#userMenu .item-user .avatar {vertical-align:middle; margin:-5px 8px -5px 0}
#userMenu.menu > li {margin-left:18px; text-align:left}

#hdr .button {border-radius:4px; font-size:130%; padding:5px 6px; margin:-7px 0}
#hdr #notifications {color:#ccc}
#hdr #notifications.new {color:#fff !important}


/* Footer */
#ftr {font-size:90%}
#ftr-content {padding-top:20px; padding-bottom:20px}
#ftr li {margin-right:10px}
#ftr .item-copyright {float:right; margin:0}


/* Text inputs */
input[type=text], input[type=password], input[type=number], input[type=email], textarea, .input {box-shadow: inset 0 5px 10px rgb(0 0 0 / 7%); background: #fff; border: 1px solid #bbb!important}
input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=number]:focus, input[type=email]:focus, .input:focus {border: 1px solid #777; border-radius:0}
.search input.text {height:22px}
.scrubberContent .search input.text {height:25px}


/* Buttons */
.button {background:linear-gradient(#9dcade 25%, #44a2c9 50%, #1e77af 50%, #37dcee 100%); border:1px solid #1a6b9d; border-radius:5px; box-shadow:inset 0 1px 1px rgb(255 255 255 / 50%); margin-bottom:1px; white-space:nowrap; height:25px; -webkit-appearance:none; color:#fff!important; text-shadow: #046b9e 0 -1px; font-size:110%}
.button.big {height:27px; font-size:140%}
.button:hover {box-shadow:inset 0px 0px 5px 2px rgb(255, 255, 255, .5); border:1px solid #1a6b9d!important}
.button:active {box-shadow:inset 0px 0px 15px 2px rgba(0, 0, 0, .5); border:1px solid #1a6b9d}
.button.disabled {cursor:default; background:linear-gradient(#e9ebe8 25%, #d8dad6 50%, #cbceca 50%, #f8faf7 100%); border:1px solid #b2b4b1; box-shadow:inset 0 1px 1px #ffffff; text-shadow:#cbceca 0 -1px}
.button i {color:#fff!important}

a.button {padding:4px 5px; height:auto; line-height:1em; display:inline-block}
a.button.big {padding:5px; height:auto; line-height:1em}

.button.submit {color:#fff}
.button.submit:hover {border-color:#000; color:#fff}

.buttonGroup .button {margin-right:-3px}

.active .popupButton, .active .popupButton i {color:#000!important; text-shadow:none}

.tabs.big li.selected a {border-color:rgba(0, 0, 0, 0.50); border-width:1px; border-style:solid; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);}

.tabs.big li a {padding: 5px 10px;}
.tabs.big li.selected a {padding: 5px 10px;}

.tabs.big {border-bottom:unset; padding-bottom: 2px}

#memberPanes {margin: 10px 0}

#memberProfile .avatar, .avatar img {
    float: left;
    padding: 3px;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
    border-radius: 4px;
    background: #fff;
    margin-right: 15px;
}

.colorSwatch {border-color:rgba(0, 0, 0, 0.50); border-width:1px; border-style:solid; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)}
